<% include ../header %>
<h1>openDlg</h1>

<p>openDlg是框架封装的弹框，用于点击后弹出，也可用于跳转，一般和Form搭配使用，form会为弹框加上标题、关闭按钮、确定和取消按钮。</p>

<p>下面是一个简单的例子：</p>

<p><code>html
&lt;div class=&quot;hide modal fade&quot; id=&quot;devDlg&quot;&gt;
     &lt;form id=&quot;dev_form&quot; class=&quot;form edit&quot;&gt;
          &lt;div id=&quot;healthList&quot; class=&quot;simple-list hide&quot;&gt;&lt;/div&gt;
     &lt;/form&gt;
&lt;/div&gt;
</code></p>

<p><code>js
$(&quot;#dev_form&quot;).form (&quot;init&quot;, &quot;edit&quot;, {&quot;title&quot;:getRcText(&quot;DEV_NAME&quot;),&quot;btn_apply&quot;:true, &quot;btn_cancel&quot;:true});
Utils.Base.openDlg(null, {}, {scope:$(&quot;#devDlg&quot;),className:&quot;modal-super&quot;});
</code></p>

<h3>openDlg(sUrl, oPagePara, oDlgPara)</h3>

<ul><li><code>sUrl</code> 可为null，如果为null，在当前页面显示。</li><li><code>oPagePara</code> 只有sUrl是传入的url时，此参数才会起作用，一般会传个{}。</li><li><code>oDlgPara</code> -{Object} 包含两个属性scope和className,其中scope的value的值对应的是html中的最外层的id.className的值可以是modal-super,modal-large,modal-small,控制弹出框的大小。</li></ul>

<p>其中看框架的代码,oPagePara此参数也可以是{String}，但是框架实现又问题，也没有人用过这个，先不写这个说明。</p>

<h1>getRcString</h1>

<p>js中为了不出现乱码一般不允许写中文，中文写在html文件中，getRcSting就是为了把html中的中文引入js中而出现的。它通常由各个页面的自己写函数来调用（getRcText）.</p>

<p>下面是一个简单的例子：</p>

<p><code>html
&lt;div id=&quot;wifi_dashboard_rc&quot; class=&quot;rc-define&quot; ALERTLIST=&quot;设备名,告警时间,告警内容&quot;&gt;&lt;/div&gt;
</code>`</p>

<p><code>`js
function getRcText(sRcName){
        return Utils.Base.getRcString(MODULE_RC, sRcName);
    }
</code></p>

<p>此处是sRcName指ALERTLIST</p>

<h3>getRcString(sRcId, sRcName)</h3>
<% include ../footer %>